* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'gilroy';
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100%;
  text-align: center;
  height: 220px;
  width: 300px;
  padding: 20px;
  border: 1px solid #272727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #121212;
  color: #E0E0E0;
}

/* .main h1 {
  color: blueviolet;
}
*/
.main h1 span {
  color: #BB86FC;
}

button {
  width: 60px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  /* background-color: lightblue; */
  background-color: #3700B3;
  color: #FFFFFF;
  padding: 4px;
  border-radius: 6px;
}

button:hover {
  background-color: #BB86FC;
}

p {
  color: #B0B0B0;
  /* Secondary text color */
}

a {
  color: #03DAC6;
  /* Accent color for links */
}

.links {
  color: #E0E0E0;
  font-size: 1.5rem;
}

.links a {
  /* gap: 10px; */
  text-decoration: none;
}

a:hover {
  color: #BB86FC;
}